/*UI Colors*/
$color-primary: #F1CDB3;
$color-primary-hover: #FDDCC4;
$color-light: #fff;
$text-on-dark-bg: #CDCDCD;
$text-on-light-bg: #4c4c4c;
$color-btn-text: #292929;
$color-title-dark: #545454;
$bg-grey: #F6F6F6;
$bg-light: #FAFAFA;

/*Fonts*/
$title-font: Georgia, serif;
$main-font: Arial, sans-serif;
